
<br>
<hr>
<div class="footertop">
        <h3 style="color: red">Contactez nous: </h3>
</div>
<div class="footer">
    
    <div class="contact">
        <p>Envoyez nous un message directement:</p>
        <form method="POST" action="https://formspree.io/aurepoir00@gmail.com">
            <input type="email" name="email" placeholder="Votre adresse mail">
            <textarea name="message" placeholder="Votre message"></textarea>
            <button type="submit">Envoyer</button>
          </form>
    </div>
    <div class="right">
        <p>Mairie de Paris</p> 
        <p>Numéro de Téléphone: 01 25 62 54 85</p>
        <p>Adresse: 52 rue du swag</p>
    </div>
    
</div>

</html>