<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegaMunicipal</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">




</head>
<body>

<style>
    ul#menu li {display:inline;}

</style>
<div class="header">
    
    <a href="/index.html" class="logo">Mairie swag</a>
    <div class="header-right">
        <div class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Events</a>
            <div class="dropdown-content">
                <a href="/events">Events</a>
                <a href="/showevents/upcoming">Upcoming</a>
                <a href="/showevents/archived">Archived</a>
            </div>
        </div>
        <a href="/conseil-municipal">Conseil municipal</a>
        <a href="/associations">Associations</a>
    </div>
    
</div>
<hr>
<!-- <h1>Une mairie plutot pas mal</h1>
<hr>
<h3>Plan du site</h3> -->

<!-- <ul id="menu">
        <li><a href="/index.html">Homepage</a></li>
        -
        <li><a href="/conseil-municipal">Conseil Municipal</a></li>
        -
        <li><a href="/events">Events</a></li>
        -
        <li><a href="/showevents/upcoming">Upcoming</a></li>
        -
        <li><a href="/showevents/archived">Archived</a></li>
        -
        <li><a href="/associations">Associations</a></li>
        
        
</ul>
<hr> -->
<!-- <hr> -->
